input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background: indianred;
    border-radius:5px;
    border:2px solid #555;
}

input[type='checkbox']:checked {
     background: forestgreen;
 }

input[type='checkbox']:hover {
    border-color: white;
}