body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url('leaf_texture.png');
  background-repeat: repeat;
  background-color: rgba(238, 238, 238, 0.5) !important;
  background-blend-mode: color;
}

#menu-icon {
  z-index: 999;
  height: 100px;
  width: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
}

#menu-icon:hover {
  filter: invert(1);
}